*{
    padding: 0;
    margin: 0;
}
.wrap{
    display: flex;
    width: 193.7vh;
    height: 98vh;
    justify-content: center;
    align-items: center;  
    background-color:  hsl(217, 54%, 11%);  
}   

.card{
    width:300px;
    height: 450px;
    border: 1.5px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    box-shadow:  10px 5px 5px black;

}

.img-card{
    width: 250;
    height: 250px;
    
}
.card section{
    margin-bottom: 10px;
}

.card .data-card-container h5{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.data-card-container{
    display: flex;
    flex-direction:column ;
    justify-content: space-around;
    height: 140px;
    
}
.card-footer{
    border-top:1px solid white;
    padding-top:10px ;
}
.text-white{
    color: hsl(0, 0%, 100%);
}
.text-gray{
    color:  hsl(215, 51%, 70%);
   
}
.text-equilibrium{
    color: hsl(178, 100%, 50%)  ;
}
.card .card-footer .text-gray{
    margin-left: 8px;
    margin-right: 8px;
}
.img-avatar{
    border: 1px solid white;
    border-radius: 50%;
}